<h1>Report Definition: <%= @report_definition.name %> </h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_definition.name %>
  <h2>test plans</h2>
  <%= render :template=> 'test_plans/index', :locals => {:@test_plans => @report_definition.test_plans } %>
  Add an additional test plan
  <%= render :partial => 'test_plans/form', :locals => {:@test_plan => TestPlan.new, :report_definition => @report_definition } %>
</p>


<%= link_to 'Edit', edit_report_definition_path(@report_definition) %> |
<%= link_to 'Back', report_definitions_path %>
