<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_definition.name %>
  <%= render :partial => 'test_plans/form', :locals => {:@test_plan => TestPlan.new } %>
  <%= render :template=> 'test_plans/index', :locals => {:@test_plans => @report_definition.test_plans } %>
</p>


<%= link_to 'Edit', edit_report_definition_path(@report_definition) %> |
<%= link_to 'Back', report_definitions_path %>
