<%= form_for(@test_plan) do |f| %>
  <% if @test_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_plan.errors.count, "error") %> prohibited this test_plan from being saved:</h2>

      <ul>
      <% @test_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# <%= f.label :external_id %><br />
    <%= f.number_field :external_id %>
    <%= hidden_field_tag 'report_definition_id', report_definition.id %>t
  </div>
  <!-- <div class="field"> -->
  <!--   <%= f.label :name %><br /> -->
  <!--   <%= f.text_field :name %> -->
  <!-- </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
